@import "tailwindcss";

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --color-neon-green: #bdff69;
  --color-deep-green: #7bd902;

  --color-teal: #132528;

  --color-gray: #dbe1d2;
  --color-white: #ffffff;
}

@theme inline {
  --color-brand: var(--color-neon-green);

  /* for text */
  --color-content-brand: var(--color-brand);
  --color-content-primary: var(--color-gray);
  --color-content-secondary: var(--color-teal);

  /* for surfaces like backgrounds */
  --color-surface-primary: var(--color-teal);
  --color-surface-secondary: var(--color-gray);
}

@layer base {
  body {
    --inline-padding: 1.2rem;

    font-family: "SpaceGrotesk", sans-serif;
    background-color: var(--color-surface-primary);
    color: var(--color-content-primary);

    .section-inline-padding {
      padding: 0 var(--inline-padding);
    }

    @media (min-width: 640px) {
      --inline-padding: 2rem;
    }
  }
}

@layer components {
  .marquee {
    --marquee-duration: 15s;

    ul {
      animation: marqueeAnimation calc(var(--marquee-duration) / 2) linear
        infinite;
    }
  }

  .problem-grid {
    display: grid;
    grid-template-rows: auto auto auto minmax(0, max-content);
  }

  .problem-grid--textless {
    grid-template-rows: auto auto minmax(0, max-content);
  }

  .counter {
    counter-reset: count;

    .counter__superscript {
      position: relative;
      width: max-content;

      &::after {
        counter-increment: count;
        content: counter(count);
        position: absolute;
        top: 0em;
        right: -1em;
        font-size: 0.6em;
      }
    }
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
