@import "tailwindcss";

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --color-neon-green: #bdff69;
  --color-deep-green: #7bd902;

  --color-teal: #13292e;

  --color-gray: #dbe1d2;
  --color-white: #ffffff;
}

@theme inline {
  --color-brand: var(--color-neon-green);

  --color-text-brand: var(--color-brand);
  --color-text-primary: var(--color-gray);
  --color-text-secondary: var(--color-teal);

  --color-bg-primary: var(--color-teal);
  --color-bg-secondary: var(--color-gray);
}

@layer base {
  body {
    --inline-padding: 1.2rem;

    font-family: "SpaceGrotesk", sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);

    .section-inline-padding {
      padding: 0 var(--inline-padding);
    }

    @media (min-width: 640px) {
      --inline-padding: 2rem;
    }
  }
}

@layer components {
  .marquee {
    ul {
      animation: marqueeAnimation 7s linear infinite;
    }
  }

  .problem-grid {
    display: grid;
    grid-template-rows: auto auto auto minmax(0, max-content);
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
